@page
@model AddressModel
@{
    ViewData["Title"] = "Addresses";
}

<h2 class="display-4">Addresses</h2>

<table class="table">
  <thead>
    <tr>
      <th>AddressId</th>
      <th>Street Address</th>
      <th>State</th>
      <th>City</th>
      <th>Postal Code</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var address in Model.Addresses)
    {
      <tr>
        <td>@address.AddressId</td>
        <td>@address.StreetAddress</td>
        <td>@address.State</td>
        <td>@address.City</td>
        <td>@address.PostalCode</td>
      </tr>
    }
  </tbody>
</table>
